@model DataTable;
@using System.Data;

<div class="container">
    <div class="row">
        <div class="col-6"></div>
        <div class="col-lg-6 p-4">
            <a asp-controller="OrderDetail" asp-action="OrderDetailAddEdit"><input type="button" value="ADD" class="btn btn-primary"></a>
        </div>
    </div>
</div>
<h5 class="text-danger">@TempData["ErrorMessage"]</h5>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">OrderDetailID</th>
            <th scope="col">OrderID</th>
            <th scope="col">ProductName</th>
            <th scope="col">Quantity</th>
            <th scope="col">Amount</th>
            <th scope="col">TotalAmount</th>
            <th scope="col">UserName</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (DataRow dataRow in Model.Rows)
            {
            <tr>
                <td>@dataRow["OrderDetailID"]</td>
                <td>@dataRow["OrderID"]</td>
                <td>@dataRow["ProductName"]</td>
                <td>@dataRow["Quantity"]</td>
                <td>@dataRow["Amount"]</td>
                <td>@dataRow["TotalAmount"]</td>
                <td>@dataRow["UserName"]</td>
                <td><a asp-controller="Form" asp-action="OrderDetail"><i class="bi bi-pencil"></i></a></td>
                <td>
                    <form method="post" asp-controller="OrderDetail" asp-action="OrderDetailDelete">
                        <input type="hidden" name="OrderDetailID" value="@dataRow["OrderDetailID"]" />
                        <button type="submit" class="btn btn-outline-danger btn-xs">
                            <i class="bi bi-x"></i>
                        </button>
                    </form>
                </td>
            </tr>
            }
        </tr>
    </tbody>
</table>