@using System.Data

    <style>
        /* Table styling */
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:hover {
            background-color: #ddd;
        }

        /* Column-specific styling */
        .product-id {
            width: 10%;
        }

        .product-name {
            width: 25%;
        }

        .product-price {
            width: 15%;
        }

        .product-code {
            width: 15%;
        }

        .description {
            width: 25%;
        }

        .user-id {
            width: 10%;
        }
    </style>
<div class="row mb-3">
    <div class="col-sm-10">
        <a asp-controller="Order" asp-action="Form" type="submit" class="btn btn-primary">Add</a>
    </div>
</div>

    <table>
        <thead>
            <tr>
                <th class="product-id">OrderID</th>
                <th class="product-name">OrderDate</th>
                <th class="product-price">ShippingAddress</th>
                <th class="product-code">PaymentMode</th>
                <th class="description">TotalAmount</th>
                <th class="user-id">UserName</th>
            <th class="action">Action</th>
            </tr>
        </thead>
        <tbody>

            @foreach (DataRow dataRow in Model.Rows)
            {
                <tr>
                    <td>@dataRow["OrderID"]</td>
                    <td>@dataRow["OrderDate"]</td>
                    <td>@dataRow["ShippingAddress"]</td>
                    <td>@dataRow["PaymentMode"]</td>
                    <td>@dataRow["TotalAmount"]</td>
                    <td>@dataRow["UserName"]</td>
                <td>
                    <a asp-controller="Order" asp-action="Form" asp-route-OrderID="@dataRow["OrderID"]">
                        <button class="btn btn-success m-1">UPDATE</button>
                    </a>
                    <form method="post" asp-controller="Order" asp-action="OrderDelete">
                        <input type="hidden" name="OrderID" value="@dataRow["OrderID"]" />
                        <button class="btn btn-danger m-1">DELETE</button>
                    </form>
                </td>
                </tr>
            }
        </tbody>
    </table>
